<label>Name:</label>
<span><%= @stairs.name %></span>
<label>Limit:</label>
<span><%= @stairs.limit %></span>

<label>Participants:</label>
<ol>
  <%= for {id, participant} <- @stairs.participants do %>
    <li id="<%= id%>"><%= participant.name %></li>
  <% end %>
</ol>    
