[v-cloak] {
    display: none;
}
.link-danger {
  color: #f50d0d;
}
table {
    overflow: hidden;
}
.full-page-container {
    max-width: 100%;
}
.actions {
    width: 20%;
}
.centralized {
    text-align: center;
}
