header div.app-name a {
    float: right;
    margin-left: 0.5em;
    line-height: 2em;
}
.pair-name {
    font-weight: 600;
} 
.unpairable {
    color: silver;
}
.actions {
    width: 20%;
}
.centralized {
    text-align: center;
}
.stairs td, th {
    padding: 0;
}
.stairs table {
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    overflow: hidden;
}
.stairs-limit {
    float: right;
}
.stairs button {
    padding-left: 1rem;
    padding-right: 1rem;
}
.stairs span.total {
    padding: 0 1rem 0 1rem;
}
.stairs tr {
    line-height: 5rem;
}
.stairs tr td {
    border-bottom: 1px dotted silver;
    border-left: 1px dotted silver;
    text-align: center;
}
.stairs tr td:first-child {
    border-left: 0;
}
.stairs tfoot tr th {
    border-bottom: 0;
    border-left: 1px dotted silver;
    text-align: center;
}
.stairs tfoot tr th:first-child {
    border-left: 0;
}
.stairs tr:hover {
    background-color: #ffa;
}
.stairs td, .stairs th {
  position: relative;
}
.stairs td:hover::after,
.stairs th:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}
table {
  overflow: hidden;
}
.full-page-container {
    max-width: 100%;
}

#connection-status {
    text-align: center;
    float: left;
    width: 100%;
}
#connection-status span {
    padding: 0.4em 1em 0.4em 1em;
    font-size: 0.7em;
    font-weight: 600;
}
#connection-status span.disconnected {
    background: #f50d0d;
    color: #fff;
}
#connection-status span.connecting {
    background: #ffa;
    color: #000;
}
#connection-status span.connected {
    background: green;
    color: #fff;
}
#connection-status span.hidden {
    display: none;
}
