<p><%= return_to_preferences_button(@conn) %></p>
<h1><%= gettext("Participants") %></h1>

<%= if Enum.empty?(@participants) == false do %>
    <%= render("_list.html", conn: @conn, participants: @participants) %>
<% end %>
<%= render("_new.html", conn: @conn) %>

