<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pair Matrix</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#6ed1f9">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><%= new_stairs_button(@conn) %></li>
          </ul>
        </nav>
        <div class="app-name">
            <img src="/favicon-32x32.png"/>
            <%= link("Pair Matrix", to: Routes.page_path(@conn, :index)) %>
        </div>
      </section>
      <%= if is_stairs_page(@conn) do %>
      <div id="connection-status">
          <span :class="status">{{connection_status}}</span>
      </div>
      <% end %>
    </header>
    <main role="main" class="container <%= display_stairs_class(@conn, @view_module) %>">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
    </main>

    <script type="text/javascript">
     let translations = {
         connection_status: {
             connected: <%= raw Jason.encode!(gettext("Connected")) %>,
             disconnected: <%= raw Jason.encode!(gettext("Disconnected")) %>,
             connecting: <%= raw Jason.encode!(gettext("Disconnected. Trying to reconnect...")) %>
         },
         loading: <%= raw Jason.encode!(gettext("Loading...")) %>
     }
    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
