.pair-name {
    font-weight: 600;
} 
.unpairable {
    color: silver;
}
.actions {
    width: 20%;
}
.centralized {
    text-align: center;
}
.container.column {
    width: 2rem;
}
.stairs.container {
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
}
.stairs-limit {
    float: right;
}
.stairs.container button {
    padding-left: 1rem;
    padding-right: 1rem;
}
.stairs.container span.total {
    padding: 0 1rem 0 1rem;
}
