.pair-name {
    font-weight: 600;
} 
.unpairable {
    color: silver;
}
.actions {
    width: 20%;
}
.centralized {
    text-align: center;
}
.container.column {
    width: 2em;
}
.stairs.container {
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
}
.stairs-limit {
    float: right;
}
