<p><%= return_to_stairs_button(@conn) %></p>
<h1><%= gettext("Preferences") %></h1>

<p>👥&nbsp;<%= manage_participants_button(@conn)  %></p>
<hr/>
<h2><%= gettext("Danger zone") %>!</h2>
<p>🗑&nbsp;<%= reset_stairs_button(@conn) %></p>
